body, html
{
    margin: 0;
    padding: 0;
}
p, a, h1, h2, h3, li, span{
    font-family: 'Open Sans', sans-serif;    
}
.section{
    display: grid;
    width: 612px;
    height: 409px;
  
}
.box1{
    background-color: rgb(113, 201, 248);
    padding: 15px;
    width: 612px;
    height: 560px;
    background-image: url(images/log.png);
    background-repeat: no-repeat;
    background-size: 800PX;
    background-position: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 ul li{
    list-style-type: none;
    font-size: 20px;
    line-height: 24px;
    margin: 50px 0px;
    font-weight: bold;
    color: #fff;
}
.box1 ul li .icon{
    font-size: 20px;
    margin-right: 10px;
}


.box2{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 612px;
    height: 560px;
    
}
.box2 .card{
    background-color: #fff;
    min-width: 300px;
    padding: 0 60px;
    border: none;
}
.box2 .card .head{
    display: flex;
    justify-content: space-between;

}

i.logo-icon{
    color: rgba(29,161,242,1.00);
    width: 39px;
    height: 31px;
    font-size: 3rem;
    margin-bottom: 40PX;
}
.box2 .card button{
    width: 380px;
    height: 39px;
    
}
button.btn{
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 6px 15px;
    border-radius: 100px;
    font-weight: bold;
    line-height: 1;
    -webkit-box-align: center;
    align-items: center
}

button.btn-primary{
    background-color: #1da1f2;
    color: rgb(255, 255, 255);
    margin-top: 0px;
}
button.btn-secondary {
    background-color: rgb(255, 255, 255);
    color: #1da1f2;
    margin-top: 15px;
    border-color: #1da1f2;
}
.box2 .card h2{
    
    color: #14171A;
    line-height: 32px;
    font-weight: bolder;
}
.box2 .card p{
    margin-top:55px;
    font-weight: bolder;
}
.box3{
    width: 1225px;
    height: 78px;
    color: #e8eef3;
}
.box3 ul{
    text-align: center;
    padding-top: 5PX;
}
.box3 ul li{
    display: inline-block;
}
.box3 ul li a{
    font-size: 14px;
    color: #657786;
}